<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Título</ion-label>
  <ion-input [(ngModel)]="recetaEdit.nombre"></ion-input>

  <ion-label>Descripción</ion-label>
  <ion-input [(ngModel)]="recetaEdit.elaboracion"></ion-input>

  <ion-button (click)="clicBotonInsertar()">Añadir receta</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar receta</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar receta</ion-button>


  <h1>LISTA DE RECETAS</h1>
  <ion-list>
    <ion-item *ngFor="let documentReceta of arrayColeccionRecetas" (click)="selecReceta(documentReceta.id, documentReceta.receta)">
      <ion-grid>
        <ion-row>
          <h2>{{ documentReceta.receta.nombre }}</h2>
        </ion-row>
        <ion-row>
          <p>{{ documentReceta.receta.elaboracion }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


</ion-content>
